body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.5s ease;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: linear-gradient(to right, #3498db, #6bb9f0);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}
header h1{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
    
}

header h1 span {
    color: #2980b9;
    font-weight: bold;
}

header p {
    margin-top: 20px;
    font-size: 18px;
}

.cta-container {
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #2c3e50;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #2980b9;
}

.btn:hover, .btn-primary:hover {
    background-color: #1a252f;
}

.about-us {
    background: #ecf0f1;
    padding: 70px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.about-us h2 {
    color: #3498db;
}

.features {
    background: linear-gradient(to right, #3498db, #6bb9f0);
    color: #fff;
    padding: 70px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.features h2, .features h3, .features p {
    color: #fff;
}

.features .feature {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.features .feature:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-10px);
}

.testimonials {
    background: #ecf0f1;
    padding: 70px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.testimonial {
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    margin: 30px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.testimonial:hover {
    transform: scale(1.02);
}

.contact {
    background: linear-gradient(to right, #3498db, #6bb9f0);
    color: #fff;
    padding: 70px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

footer {
    background: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

footer p {
    font-size: 14px;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 1s ease-in-out; /* Añade una transición más lenta */
}

.carousel img {
    width: 100%;
    height: auto;
    opacity: 1; /* Añade opacidad inicial */
    transition: opacity 1s ease-in-out; /* Añade una transición de opacidad */
}

.carousel img:not(:first-child) {
    opacity: 0; /* Configura la opacidad de las imágenes no activas a 0 */
}

.swiper-container {
    width: 100%;
    max-width: 1000px; /* Puedes ajustar este valor según tus necesidades */
    margin: auto;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}